<!DOCTYPE html>
<html>
	<head>
		<title>Siil - Demorakendus</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="twelve columns" style="text-align:center">
					<h2>Uh-oh, you chickened out!</h2>
				</div>
			</div>
				<div class="row">
					<div class="three columns">
					&nbsp;
					</div>
					<div class="six columns">
						<a href="{{siil_url}}/signin/{{site_id}}" class="button button-primary u-full-width" style="height:60px;line-height:60px;font-size:1.1em">Try again</a>
					</div>
				</div>
		</div>
	</body>
</html>